<main class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Dash</h2>
            <a href="/newpost" class="button-p">New Blog Post</a>
        </div>
    </div><br>
    <h2 class="mb-4">This is what you had to say about the topic:</h2>
    {{#each posts}}
    <div class="container-p post mb-3">
        <h2><a href="/post/{{id}}">{{title}}</a></h2>
        <p>Date: {{format_date createdAt}} | Written/Made by: {{user.username}}</p>
        <a href="/editpost/{{id}}" class="button-w">Edit Post</a>
        <button class="button-d delete-post" data-post-id="{{id}}">Bye!</button>
    </div>
    {{/each}}
</main>